<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bumu.arya.admin.soin.model.dao.SoinOrderMybatisTTDao">

    <sql id="sel"></sql>

    <select id="findById" parameterType="java.lang.String" resultType="com.bumu.arya.soin.model.entity.AryaSoinOrderEntity">

        select * from ARYA_SOIN_ORDER
        <where>

            <if test="id!= null">
             and ID =#{id}

            </if>


        </where>

    </select>

</mapper>