
header {
    position: relative;
    width: 100%;
    padding: 0 10%;
    height: 80px;
}

header .login_bg1 {
    background: url("../../image/login_bg3.png") no-repeat;
    background-size: 100% 100%;
    width: 196px;
    height: 45px;
    position: relative;
    top: 17px;
    float: left;
}

header .hotline_container {
    position: relative;
    float: right;
    top: 20px;
    font-size: 12px;
    margin-right: 50px;
}

header .hotline_container .line {
    position: relative;
    width: 100%;
    line-height: 21px;
    color: rgb(102, 102, 102);
    font-weight: bold;
}

header .hotline_container .line img {
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
    margin-right: 5px;
    float: left;
}

header .hotline_container .hotline_phone {
    color: rgb(35, 135, 195);
    line-height: 19px;
    letter-spacing: 1.5px;
}

.content {
    position: relative;
    width: 100%;
    background: url("../../image/login_bg4.png") no-repeat;
    background-size: 100% 100%;
}

.content form {
    position: absolute;
    right: 100px;
    top: 170px;
    width: 300px;
    padding: 0 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.content form h4 {
    line-height: 40px;
    color: #0064b6;
}

.content form .col-xs-6 {
    padding: 0;
    cursor: pointer;
    color: #0064b6;
}

.content form .captcha_container {
    display: none;
    position: relative;
}

.content form .captcha_container .imgCode {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    width: 28%;
}

.content form .captcha_container .imgCode img {
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .content form {
        position: absolute;
        right: 60px;
        width: 260px;
        padding: 0 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    .content form h4 {
        line-height: 30px;
    }

    .content form .captcha_container .imgCode {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        width: 33%;
    }

    .form-group {
        margin-bottom: 8px;
    }
}

