
.access_detail_container {

  .content {

    .url_statistic {
      position: relative;
      float: left;
      width: 100%;

      .name {
        position: relative;
        width: 100%;
        line-height: 40px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    #tb_url_statistic {
      tbody {
        td.url {
          & > div {
            text-align: left;
          }
        }
      }

    }
  }

}