@charset "utf-8";

/* chosen */
.chosen-container {
  height: 34px;
}

.chosen-container-multi {
  .chosen-choices {
    height: 100% !important;
    li {
      &.search-field {
        line-height: 28px;
      }
    }
  }
}

//冻结列
.emp_roster_container .content .table_container .fixed-table-body-columns {
  z-index: 2;
}

//列表
.emp_roster_container {
  .content {
    table {
      tbody {
        tr {

          &.item {

            td {

              & > div {
                width: 80px;
                margin: 0 auto;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
              }

              &.idCard_no,
              &.emp_register_account {
                & > div {
                  width: 120px;
                }
              }

              &.operate,
              &.register_address {
                & > div {
                  width: 200px;
                }
              }

            }

          }

        }
      }
    }
  }
}

/* 退工 弹框 */
.emp_dismiss_modal {
  .modal-body {
    .row {
      .col-xs-3 {
        line-height: 34px;
      }
      .leave_reason_list {
        select {
          option {
            &.isBad {
              color: red;
            }
          }
        }
      }
      .dismiss_remark {
        position: relative;
        textarea {
          color: #a4a4a4;
          min-height: 100px;
        }
      }
    }
  }
}

/* 续签 弹框 */
.emp_renew_modal {
  .modal-body {
    .row {
      .col-xs-3 {
        line-height: 34px;
      }
    }
  }
}

/* 员工信息 编辑 弹框 */
.emp_roster_info_modify_modal {

  .modal-body {

    & > .col-xs-12 {
      .head {
        line-height: 40px;
        font-size: 14px;
        padding-left: 12px;
        .txt {
          float: right;
          margin-right: 25px;
          cursor: pointer;
        }
      }
      .content {
        display: none;
        padding: 10px 0;

        &.show {
          display: flex;
        }

        .txt {
          position: relative;
          line-height: 34px;
          text-align: right;
          padding: 0;
        }

      }

    }
    .basic_info {
      .content {
        .row {
          .txt {
            &:before {
              content: "*";
              position: absolute;
              color: red;
              right: -5px;
            }
          }
          .employee_no_begin {
            select {
              width: 50%;
            }
            span {
              width: 10%;
              padding: 0;
              text-align: center;
              line-height: 34px;
            }
            input {
              width: 40%;
            }
          }
        }
      }
    }
    .personal_info {

      .content .right_side {
        //padding-right: 0;
      }

      .row {

        .txt_1 {
          position: absolute;
          left: -18px;
          width: 150px;
        }

        .emp_birth_date input,
        .idCard_validity_start_time input,
        .idCard_validity_end_time input {
          max-width: inherit;
        }

        .idCard_validity_end_time_permanent {
          line-height: 34px;
          cursor: pointer;
          img {
            width: 14px;
            height: 14px;
            margin: 9px 3px;
            float: left;
          }
        }

      }

    }
    .edu_info {
      .content {
        .row {
          .emp_graduate_time {
            & input {
              max-width: inherit;
            }
          }
        }
      }
    }
    .contract_info {
      .content {
        .row {
          .emp_interview_date,
          .emp_check_in_date,
          .emp_contract_start_time,
          .emp_contract_end_time {
            & input {
              max-width: inherit;
            }
          }

          .emp_contract_end_time_permanent {
            line-height: 34px;
            cursor: pointer;
            img {
              width: 14px;
              height: 14px;
              margin: 9px 3px;
              float: left;
            }
          }

        }
      }
    }
    .custom_info {
      .content {
        & > .col-xs-6 {
          margin-top: 10px;

          & .custom_val input {
            max-width: inherit;
          }
        }
      }
    }
  }
  .modal-footer {
    width: 100%;
    .prompt {
      position: absolute;
      left: 15px;
      line-height: 20px;
      top: 5px;
      text-align: left;
    }
  }
}

/* 花名册员工导入 modal */
.emp_roster_import_modal {
  .modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    .step_1 {
      padding-top: 20px;
      .upload_container {
        width: 696px;
        height: 122px;
        border: 1px dashed #a4a4a4;
        border-radius: 5px;
        text-align: center;
        padding: 15px 0 8px;
        margin: 10px auto 20px;
        .btn_upload {
          position: relative;
          width: 120px;
          height: 34px;
          text-align: center;
          background-color: #ff6600;
          color: #fff;
          border-radius: 3px;
          i {
            top: 2px;
            color: #fff;
            font-size: 14px;
          }
        }
        .txt {
          font-size: 16px;
          line-height: 36px;
          color: #999999;
        }
      }
      .info_prompt {
        position: relative;
        width: 100%;
        padding: 13px 10% 18px;
        background-color: #f3f3f4;
        .txt {
          font-size: 16px;
          font-weight: bold;
          line-height: 40px;
          color: rgb(102, 102, 102);
        }
        .txt_1 {
          p {
            position: relative;
            width: 100%;
            line-height: 20px;
            font-size: 12px;
            color: #999999;
            margin: 0;
          }
          span {
            color: #1c84c6;
            float: none;
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }
    .step_2 {
      display: none;
      padding: 18px 0 8px;
      .row {
        line-height: 30px;
        padding: 0 20px;
        font-size: 12px;
        .icon {
          width: 14px;
          height: 14px;
          margin: 8px;
        }
      }
      #tb_emp_roster_import {
        font-size: 13px;
        text-align: center;
        color: #333;
        margin: 0;
        td {
          padding: 0;
        }
        tbody {
          td {
            position: relative;
            &.idCardNo {
              & > div {
                width: 120px;
              }
            }
            &.other {
              & > div {
                width: 100px;
              }
            }
            & > div {
              word-break: break-all;
              margin: 0 auto;
            }
            .isError {
              color: red;
              font-size: 12px;
              img {
                position: absolute;
                width: 14px;
                height: 14px;
                left: 3px;
                top: 3px;
              }
            }
            .phone_msg {
              color: #2273b4;
            }
          }
        }
      }
      .prompt {
        line-height: 40px;
        text-align: center;
        span {
          display: inline;
          float: none;
        }
      }
    }
  }
  .modal-footer {
    text-align: center;
    .btn {
    }
  }
}

.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.realName > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.prefixName > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.workSn > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.departmentName > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.positionName > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.workShiftName > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.workLineName > div {
  width: 60px;
}

.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.registerAccount > div,
.emp_roster_import_modal .modal-body .step_2 #tb_emp_roster_import tbody td.checkinTime > div {
  width: 80px;
}

.fixed-table-body {
  height: calc(100% - 40px);
}

/* 公共 */
.icon_msg {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-top: 9px;
}

.tooltip {
  .tooltip-inner {
    width: 200px;
    text-align: left;
    line-height: 20px !important;
    font-size: 12px !important;
  }
}

.isBad {
  color: red;
}

.clr_d87c11 {
  color: #d87c11;
}

