.index_manage_container .content .chart_item {
    float: left;
    width: 50%;
    height: 400px;
}

/*.index_manage_container .content > div .loading {*/
/*width: 100%;*/
/*!*height: 100%;*!*/
/*display: -webkit-box;*/
/*-webkit-box-pack: center; !*左右*!*/
/*-webkit-box-align: center; !*上下*!*/
/*-webkit-box-orient: vertical; !*排列方式 水平、垂直*!*/
/*}*/

.index_manage_container .content .chart_item .loading .sk-spinner {
    margin: 189px auto;
}

.index_manage_container .content .url_statistic {
    position: relative;
    float: left;
    width: 100%;
}

.index_manage_container .content .url_statistic .name {
    position: relative;
    width: 100%;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.index_manage_container .content #tb_url_statistic tbody td.url div {
    text-align: left;
}

