/* chosen */
.chosen-container {
    height: 34px;
}

.chosen-container-multi .chosen-choices {
    height: 100% !important;
}

.chosen-container-multi .chosen-choices li.search-field {
    line-height: 28px;
}

/* 审批 弹框 */

.approval_info_modal .modal-body {
    font-size: 14px;
}

.approval_info_modal .modal-body > div {
    line-height: 34px;
    padding: 8px 0;
}

.approval_info_modal .modal-body .row {
    margin: 0 !important;
}

.approval_info_modal .modal-body .txt {
    float: left;
}

.approval_info_modal .modal-body .apply_info .col-xs-6 {
    padding: 0;
}
