/*.push_msg_manage_container .content .table_container table td {*/
/*height: auto;*/
/*}*/

.push_msg_manage_container .content .table_container table td.operate .btn:not(:last-child) {
    margin-right: 8px;
}

.push_msg_info_modal .modal-body .row .jump_type_list .btn {
    margin: 0 5px 5px 0;
}

.push_msg_info_modal .modal-body .notification_url_container {
    display: none;
}

.push_msg_info_modal .modal-body .row .setTimeContainer {
    margin: 10px 0;
    display: none;
}

.push_msg_info_modal .modal-body .row .setTimeContainer .setTime {
    max-width: 100%;
}

.push_msg_info_modal .modal-body .row .category_tag .item {
    padding-left: 0;
    padding-right: 10px;
    margin-bottom: 10px;
}

.chosen-container-multi .chosen-results {
    max-height: 180px;
}
