.women_day_activity_container table#tb_women_day_activity td { padding: 0; }
.women_day_activity_container table#tb_women_day_activity tbody tr td.bless_content > div { width: 200px; }
.women_day_activity_container table#tb_women_day_activity tbody tr td > div { line-height: 40px; margin: 0 auto; }
.women_day_activity_container table#tb_women_day_activity tbody tr td > div img { width: 100px; margin: 10px 0; }
